#round{
    box-sizing: border-box;
    width: 350px;
    height: 500px;
    
    
    /* top: 60px;
    left: 625px; */
    
    background-color: white;
    border-radius: 20px;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px #444;

  

    


}

#jointext{
    margin-top:40px;
    margin-left: 30px;
    height: 60px;
    font-size: 15px;
    
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    color: #0068FF;
   
}

.input{
   
    margin-top: 10px;
    margin-left: 30px;
    height: 40px;
    width:200px;
    font-family:  'Noto Sans CJK KR';
    font-style: normal;
    font-size: 10px;
    color: #797979;
   
}

.hr{
    height: 0px;
    margin-top: 20px;
    
    border: 0.1px solid #CFCFCF

}


#radiodiv{
    
    margin-top: 20px;
    margin-left: 30px;
    width: 115px;
    font-size:12px;
    
   
  
    
   

}

.radiobtn{
  
    background-color: #444;
    border: 5px solid #D2D2D2;


}

#check{

    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  
    
 

}

#checkbox{
    background:black;
    border:1px solid #C4C4C4;
    border-radius: 10px;
   
    
    

}
   
.btn11{
  
    width: 130px;
    margin-left: 100px;
    margin-top: 20px;

}

.btn{
    text-align: center;
    text-shadow: #0068FF;
    width: 130px;
 
    height: 60px;

    background-color: white;
    border:1px solid #AACDFF;
    border-radius: 10px;
  

}




